# Created by .ignore support plugin (hsz.mobi)
/.idea/.name
/.idea/encodings.xml
/.idea/joblisting.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/workspace.xml